<div class="jumbotron">
  <h2>{{results.question}}</h1>
</div>
<style type="text/css">
  #google-visualization-errors-0 {display: none;}
</style>
<!-- <pre> --v
  <!-- </pre> -->
  <h3>Respuestas por grupos:</h3>

  <h5>Tipo de grafico:</h5>
  <button class="btn btn-lg" ng-click="triggerChart('PieChart')">PieChart</button>
  <button class="btn btn-lg" ng-click="triggerChart('ColumnChart')">ColumnChart</button>

  <h5>Filtrar por categoría:</h5>
<div class="row">
  <div class="col-sm-12">
  <div ng-repeat="tag in tags">
    <input class="btn btn-primary" type="radio" value="tag.name"/> {{tag.name}}
  </div>
  </div>
</div>
  <!--
    results.teams.teams[v]['name']
   -->
<div class="row marketing">
  <div class="col-sm-12" ng-repeat="tag in tags">
    <h2>{{tag.title}}</h2>
    <h4>Votos totales: {{tag.total}}</h4>
    <div google-chart chart="tag.chartOptions" style="height:400px; width:100%;"></div>
  </div>
</div>
<div id="pollResultsPage">
    <div class="content"></div>
</div>
